#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poppins", system-ui;
}

.content {
  position: absolute;
  right: 0;
  width: calc(100% - 65px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", system-ui;
}
